<header class="site-header">

  <div class="wrapper">

    <nav class="site-nav">

      <div class="trigger">
        <!-- {{ site.title }} instead of blog -->
       <!-- <a class="page-link" href="{{ site.baseurl }}/">blog</a>-->
		<a class="page-link" href="{{site.url}}"/>home</a>
		<!--<a class="page-link" href="{{site.url}}"/>about</a>-->
		<a class="page-link" href="{{site.baseurl}}/piano"/>piano</a>
		<a class="page-link" href="{{site.baseurl}}/portfolio"/>portfolio</a>
        
		&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
		
		<a class="page-link" href="{{site.baseurl}}/carolyn"/>carolyn</a>
		<a class="page-link" href="{{site.baseurl}}/megan"/>megan</a>
		<a class="page-link" href="{{site.baseurl}}/sarah"/>sarah</a>

      </div>
    </nav>

  </div>

</header>
