---
layout: default
---

{% if page.collection %}
    {% assign links = site[page.collection]  %}
{% endif %}

{% for link in links %}
	{% if link.title == page.title %}
		{% unless forloop.first %}
			{% assign prev = tmpprev %}
		{% endunless %}
		{% unless forloop.last %}
			{% assign next = links[forloop.index] %}
		{% endunless %}
	{% endif %}
	{% assign tmpprev = link %}
{% endfor %}


<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%B %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
	{% if prev %}<a href="{{ prev.url}}" class="prevnext">&lt; Previous</a>{% endif %}
    {% if next %}<a href="{{ next.url}}" class="prevnext">Next &gt;</a>{% endif %}
	<a href="{{ site.baseurl }}/portfolio/watercolor">
		<img class="portfolioimage-1000" src="{{ site.baseurl }}/img/{{ page.filename }}" alt="" title="{{page.title}}"/>
	</a>
	<p>
	To view full size image, click 
	<a target="_blank" href="{{ site.baseurl }}/img/{{ page.filename }}">here.</a>
  </article>
</div>
